@import '../rtl';

@font-face {
  font-family: 'UKIJ Ekran';
  src: url('../../fonts/UKIJEkran.eot?#iefix') format('embedded-opentype'),
  url('@/assets/fonts/UKIJEkran.woff2') format('woff2'),
  url('@/assets/fonts/UKIJEkran.woff') format('woff'),
  url('@/assets/fonts/UKIJEkran.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root[lang='ug-CN'] {
  --td-font-family: UKIJ Ekran;
  --td-font-family-medium: UKIJ Ekran;
}
